* {
	text-align: center;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

header {
	background-color: #bdbdbd;
	padding: 20px 0;
}

#graph {
	margin-top: 40px;
}

div.tooltip {
	position: absolute;
	width: 180px;
	min-height: 60px;
	padding: 4px;
	font: 12px sans-serif;
	background: rgba(176, 196, 222, 1);
	border-radius: 5px;
	box-shadow: 1px 1px 40px #eee;
	pointer-events: none;
}

footer {
	background-color: #bdbdbd;
	flex: 1 0 auto;
	height: 80px;
	font-size: 1.2em;
	display: flex;
	justify-content: center;
	align-items: center;
}
